body {
    font-family: "Helvetica Neue", Arial, Helvetica, Arial, sans-serif;
    background-color: rgba(248, 239, 220, 0.717);
}

button {
    background-color: rgba(222, 14, 14, 0.212);
    border: none;
    text-align: center;
    padding: 8px 12px;
    border-radius: 10px;
}

.Box {
    margin: 12px auto;
    width: 800px;
}
#title {
    text-align: center;
    margin-bottom: 12px;
}

a {
    color: brown;
}
a:hover {
    color: burlywood;
    text-decoration:wavy;
    font-size: 1.2em;
}
li {
    padding-bottom: 4px;
}

.Box .content {
    height: 150px;
    width: 400px;
    border: 4px solid burlywood;
    margin: 0 auto;
    padding: 16px;
    border-radius: 10px;
}

